@use "./base.scss";


// put your custom CSS here!
//@use "themes";

//CSS maison permettant de créer des boutons de navigation

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.grid-item {
  color: #d4d4d4;
  background-color: #00bfa510;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.grid-item:hover {
  color: white;
  background-color: #393639;
}

.grid-item .icon {
  font-size: 2em;
  margin-bottom: 10px;
}

.grid-item .icon img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.grid-item .title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 5px;
}

.grid-item .description {
  font-weight: normal;
}

/* Index Page Boxes */

.grid-item {
  padding: 15px !important;
}

.grid-item .icon img {
  margin: 5px;
}
